.DS_Store
.git
.github
.playwright-cli
__pycache__
*.pyc
*.pyo
*.log

node_modules
playwright-report
test-results

data/*.json
data/*.tmp
data/*.bak

native-android/.gradle
native-android/build
native-ios/DerivedData

.env
.env.*
